.header {
}

.list {
  display: flex;
  gap: 30px;
  list-style-type: none;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(225, 87, 87); */
}

.list a {
  text-decoration: none;
  color: var(--color-primary-400);
}

.list a:hover,
.list a.active {
  color: brown;
}
.cartdiv {
  display: flex;
  align-items:last baseline;
  border: 2px solid rgb(17, 16, 16);
  border-radius: 9px;
  padding: 4px;

}
.cartdiv span {
  left: 0;
  font-weight: 600;
  font-size: large;
}
